    <main class="fondo1">
      <!-- Contenido  Principal-->
        <app-main></app-main>

        <!-- Info inicio -->
        <app-info-inicio></app-info-inicio>

       <!-- Perfil de usuario -->
        <app-perfil-usuario></app-perfil-usuario>

        <!-- Ver estados -->
        <app-estados></app-estados>

        <!-- Menu -->
        <app-menu></app-menu>

        <!-- Info del contacto -->
        <app-perfil-contacto></app-perfil-contacto>
        
        <!-- Ver imagen en grande -->
        <app-imagen-agrandada></app-imagen-agrandada>
        
      </main>

    <div class="fondo2"></div>

